.enemies
{
    width: 1000px;
    height: 900px;
    position: absolute;
    
}
.left-side
{
    width: 150px;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.top-side
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:60px;
    align-items: center;
}
.right-side
{
 float: right;
 text-align: right;
 width:150px;   
 height: 600px;
 display:flex;
 flex-direction: column; 
 justify-content: center;
}