.poker-table
{
    position: relative;
    width: 800px;
    height: 500px;
    background: #5cb85c;
    border-radius: 175px;
    text-align: center;
    border: 10px solid #43290e;
}

.poker-container
{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.poker-ui
{
    text-align: center;
    width: 800px;
}
.poker-button
{
    background-color:red;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    outline:none; 
}
.poker-button:active
{
    opacity: 0.6;
}
.im
{
    float:left;
    padding:80px;
    width: 10px;
}
.messages
{
    display: flex;
    flex-direction: column;
    height: 600px;
}
.input-message
{
    resize: none;
}
.play-buttons
{
    text-align: center;
}
.board-cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}